{% extends 'base.html' %}
{% load static %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'blog/item.css' %}">
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock %}

{% block content %}
    <main id="allPostsMain">
        <h2>My Collected Posts</h2>
        <section>
            <a href="#" class="item posts">
                <img src="" alt="">
                <h4>Nature At Its Best</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolorem doloremque dolorum enim expedita impedit iure officia totam voluptatibus!</p>
            </a>
            <a href="#" class="item posts">
                <img src="" alt="">
                <h4>Nature At Its Best</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolorem doloremque dolorum enim expedita impedit iure officia totam voluptatibus!</p>
            </a>
            <a href="#" class="item posts">
                <img src="" alt="">
                <h4>Nature At Its Best</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolorem doloremque dolorum enim expedita impedit iure officia totam voluptatibus!</p>
            </a>
        </section>
    </main>
{% endblock %}