{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div class="container">
            <div>
               <img src="" alt="">
                <h1>semih's
                    blog</h1>
            </div>
            <p>Hi, I'm Semih and i love to write about pretty much everything.</p>
        </div>
    </header>


    <section id="latest-section">
        <h2>My Latest Thoughts</h2>
        <div>
            {% for item in posts %}
                <a href="#" class="item">
                    <img src="{{ item.image.url }}" alt="">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.excerpt }}</p>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}