header {
    background: linear-gradient(#6A42C2, #563A9C) no-repeat;
    padding-left: 3rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

header .container {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

header .container div {
    display: flex;
    align-items: center;
    gap: 24px;
}

header img {
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    border-radius: 12px;
    transform: rotate(-4deg);
}

header h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.6rem;
    white-space: pre-line;
}

header p {
    color: #fff;
}

#latest-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    padding: 20px;
    background: #fff;
    position: relative;
    bottom: 4rem;
    border-radius: 12px;
}

#latest-section div {
    display: flex;
    gap: 2rem;
}

#latest-section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 20px;
}

#latest-section a img {
    border: 5px solid red;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

#latest-section a h4 {
    color: #313133;
    font-size: 1.2rem;
}

#latest-section a p {
    color: #313133;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
}

#latest-section a:hover {
    background: #563A9C;
}

#latest-section a:hover h4,
#latest-section a:hover p{
    color: #fff;
}