@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(#8174A0, #A888B5) no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: #fff;
    font-weight: bold;
}