@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

nav {
    background: linear-gradient(#563A9C, #6A42C2) no-repeat;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    font-weight: bold;
}

nav a:first-child {
    font-size: 1.6rem;
}